<?xml version="1.0" encoding="UTF-8"?>

<!--
 (#)logback.xml 0.7.0   01/03/2024
 (#)logback.xml 0.5.0   12/28/2023
 (#)logback.xml 0.4.0   12/28/2023
 (#)logback.xml 0.3.0   12/27/2023
 (#)logback.xml 0.1.0   12/25/2023

 Copyright (c) Jonathan M. Parker
 All Rights Reserved.

 @author    Jonathan Parker
 @version   0.7.0
 @since     0.1.0
-->

<configuration scan="false" scanPeriod="60 seconds" packagingData="false" debug="false">
  <appender name="MAIN" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %-5level [%logger] [%M] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="net.jmp.demo.reactive.streams.Main" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.reactive.streams.flow.ArticleTransformationProcessor" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.reactive.streams.flow.ListPublisher" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.reactive.streams.flow.ListSubscriber" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.reactive.streams.flow.SummarySubscriber" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.reactive.streams.org.DoublingProcessor" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.reactive.streams.org.IntegerSubscriber" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.reactive.streams.org.StreamPublisher" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.reactive.streams.org.StreamSubscriber" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.reactive.streams.org.WaitableSubscriber" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>

  <root level="info">
    <appender-ref ref="MAIN" />
  </root>
</configuration>
